@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text {
  @apply bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent;
}

.section-padding {
  @apply px-6 py-16 sm:px-12 sm:py-24 lg:px-16 lg:py-32;
}
